/* TABLE LOADER */
.spinnerContainer {
  height: 200px;
  width: 100%;
  position: relative;
  display: table;
}
.vertical-center {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

/* DATATABLE STYLE */
.Polaris-Filters__Spinner {
  display: none !important;
}
.Polaris-Filters__AddFilter span {
  content: "Joe's Task: " !important;
}
.Polaris-Filters__AddFilter span::after {
  content: "Add filter" !important;
}
